@media screen and (max-width: 1200px) {
  body {
    background-color: #ffc0cb;
  }
  .feature_box {
    width: 30%;
  }
}
@media screen and (max-width: 1180px) {
  body {
    font-size: 15px;
    background-color: #f00;
  }
  .feature_box {
    width: 30%;
  }
  .step1 {
    width: 100%;
  }
  .main_picture {
    width: 46%;
  }
  .page_welcome {
    width: 50%;
    padding: 0px;
  }
  .page_welcome h1 {
    border: 0px;
    padding: 0px;
  }
  .page_welcome form input[type="text"] {
    width: 80%;
  }
  .page_welcome form input[type="email"] {
    width: 80%;
  }
  .page_welcome form input[type="submit"] {
    width: 200px;
  }
}
@media screen and (max-width: 1000px) {
  body {
    font-size: 14px;
    background-color: #ff0;
  }
  .feature_box {
    width: 30.5%;
  }
  .main_picture {
    width: 54%;
  }
  .page_welcome {
    width: 42%;
  }
  .page_welcome input {
    width: 90%;
  }
}
@media screen and (max-width: 950px) {
  body {
    background-color: #000;
    font-size: 13.5px;
  }
  .feature_box {
    width: 30%;
  }
}
@media screen and (max-width: 770px) {
  body {
    background-color: #00f;
  }
  body p {
    text-align: center;
  }
  .feature_box {
    width: 44%;
  }
  .long_tour {
    display: none;
  }
  .tour {
    display: block;
  }
  .main_picture {
    width: 100%;
  }
  .page_welcome {
    width: 100%;
    margin: 0 auto;
    text-align: center;
  }
  .social {
    display: none;
  }
  .step1 {
    margin-bottom: 0px;
  }
  .step2,
  .step4,
  .step6,
  .step7 {
    text-align: center;
    width: 80%;
    margin: 0 auto;
  }
}
@media screen and (max-width: 600px) {
  body {
    background-color: #ffa500;
  }
  body h1 {
    font-size: 1.7em;
  }
  body h2 {
    font-size: 1.3em;
  }
  .feature_box {
    width: 90%;
    margin: 0 auto;
    margin-top: 10px;
  }
  .long_pricing,
  .long_tour {
    display: none;
  }
  .pricing,
  .tour {
    display: block;
  }
  .step2 {
    display: none;
  }
  .step2_copy {
    display: block;
  }
  .separator {
    height: 40px;
  }
}
@media screen and (max-width: 440px) {
  body {
    font-size: 12px;
  }
  .long_pricing,
  .long_tour,
  .blog {
    display: none;
  }
  .nav {
    vertical-align: middle;
    height: 30px;
  }
  .pricing,
  .tour {
    display: block;
  }
  header .logo a img {
    width: 100px;
  }
  header .nav ul li {
    border: 0px;
    padding: 0px;
  }
  .step2 {
    display: none;
  }
  .step2_copy {
    display: block;
  }
  .step2,
  .step4,
  .step6,
  .step7 {
    text-align: center;
    width: 96%;
    margin: 0 auto;
  }
  .separator {
    height: 30px;
  }
}
@media screen and (max-width: 340px) {
  .long_pricing,
  .long_tour,
  .contact,
  .blog {
    display: none;
  }
  .pricing,
  .tour {
    display: block;
  }
  header .nav ul li {
    border: 0px;
    padding: 0px;
  }
  .separator {
    height: 20px;
  }
}
