bordes()
    -ms-border-radius arguments
    -moz-border-radius arguments
    -o-border-radius arguments
    -webkit-border-radius arguments
    border-radius arguments

tran()
    -webkit-transition: color .4s ease-out
     -ms-transition: color .4s ease-out
     -o-transition: color .4s ease-out
     -moz-transition: color .4s ease-out
	   transition: color .4s ease-out
body 
    background-color white
    font-family 'Open Sans', sans-serif
    font-size 16px
    color #333
    padding .5em
    font-size 15px

img 
	  width auto\9
	  height auto
	  max-width 100%
	  vertical-align middle
	  border 0
	  -ms-interpolation-mode bicubic

h2
  text-align center
header 
    background-color #fefefe
    border-bottom solid 1px #dedede
    height auto
    overflow hidden
    padding .5em
    .nav 
        float right
        ul
          list-style none
          padding 0px
          border 0px
          li
            float left
            padding .2em
            margin  0 .4em 0 .4em
            a
	            text-decoration none
	            color #777
	            cursor pointer
	            &:hover
                   text-decoration underline
                   color #3080E8
	                 tran() 
    .logo
         float left

section 
    margin-top 1em

input 
         padding .5em
         margin .3em
         bordes(3px)
         border solid 1px #ccc

label 
         display block
         margin .5em .2em .5em .2em

.social
    width 400px
    margin 0 auto
    ul 
       overflow hidden
       li
          list-style none
          float left

.step1
    overflow hidden
    width 96%
    margin 0 auto
    margin-bottom 50px

.main_picture
    float left
    width 58%
    padding .5em
    background-color #fff
    img
      width 100%

.page_welcome
    padding .5em
    float right
    width 39%
    h1
      font-size 2.5em
    p 
      padding .3em
    form
      input[type="submit"]
         width 200px
         margin-top 20px
      input[type="text"]
         width 400px
      input[type="email"]
         width 400px

.step2_copy
   display none
   text-align center

.step2
.step4
.step6
.step7
    text-align center
    width 60%
    margin 0 auto

.step2
    ul li
       list-style none

.pricing
.tour
    display none

.separator
    width 1px 
    height 75px
    margin-left 50%
    margin-top 10px
    background-color #bbb

.step3
.step5
  overflow hidden
  position relative
  width 100%

.step7
  margin-top 70px
  margin-bottom 70px

.feature_box
   width 31%
   padding .2em
   margin .71em
   text-align center
   float left

footer
    height auto
    border-top solid 2px #eee
    text-align center
    padding 1em

    p
      text-align center
      border 0px
      font-size 14px
      margin-top 30px
 

.links
   width 100%
   text-align center

footer .links a 
   margin 1em
   text-decoration none
   color #777
   cursor pointer
   &:hover
        text-decoration underline
        color #3080E8
        tran() 




